<h1 align='center'> COMP2420/COMP6420 - Introduction to Data Management,<br/> Analysis and Security</h1>

<h1 align='center'> Assignment - 2</h1>

-----
<br/>

## Grading

|**Maximum Marks**         |  **100**
|--------------------------|--------
|  **Weight**              |  **20% of the Total Course Grade**
|  **Submission deadline** |  **7:00PM, Friday, May 24**
|  **Submission mode**     |  **Electronic, Using GitLab <br/> One submission per group**
|  **Estimated time**      |  **20 hours**
|  **Penalty**             |  **100% after the deadline**
  


## Submission

You need to submit the notebook `Assignment-2.ipynb` and any other additional files that you may have created / hyperlinked in this notebook, as part of your submission by pushing it to your forked GitLab repository. You need to add your group details below. Make sure your group works on and submits only have one fork of the assignment repository. 


### Note:

* It is strongly advised to read the whole assignment before attempting it and have at least a cursory glance at the dataset in order to gauge the requirements and understand what you need to do as a bigger picture.

* For answers requiring free form written text, use the designated cells denoted by `YOUR ANSWER HERE` -- double click on the cell to write inside them.

* For all coding questions please write your code after the comment `YOUR CODE HERE`.

* In the process of testing your code, you can insert more cells or use print statements for debugging, but when submitting your file remember to remove these cells and calls respectively.

* You will be marked on **correctness** and **readability** of your code, if your marker can't understand your code your marks may be deducted.

<span style="color:blue">
    
### Group Number :  2420_A2_Grp12

### Student IDs: u6555407, u6588836, u6611178

</span>

## Introduction

In [9]:
# IMPORTING FREQUENTLY USED PYTHON MODULES
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import psycopg2
import os
plt.style.use('seaborn-notebook')
%matplotlib inline

# JUST TO MAKE SURE SOME WARNINGS ARE IGNORED 
import warnings
warnings.filterwarnings("ignore")

In [10]:
# IMPORT ANY OTHER REQUIRED MODULES IN THIS CELL
### TODO SECTION A: q4 & SECTION B Q1.1

***

## Section A - Database Management (15 Marks)

You have been given the following database containing 15 tables relating to **DVD Movie Rentals**. The data contained in these tables is as follows -

|  **Table**               |  **Data Description**      |
|--------------------------|----------------------------|
|  actor                   |  actors data including first name and last name     |
|  film                    |  films data such as title, release year, length, rating, etc      |
|  film_actor              |  stores the relationships between films and actors |
|  category                |  stores film’s categories data |
|  film_category           |  stores the relationships between films and categories | 
|  store                   |  store data including manager staff and address |
|  inventory               |  stores inventory data |
|  rental                  |  stores rental data |
|  payment                 |  stores customer's payments |
|  staff                   |  stores staff data |
|  customer                |  stores customer data |
|  address                 |  address data for staff and customers |
|  city                    |  stores city data |
|  country                 |  stores country data |

Visualizing the relations between these tables can be aided by looking at the below **E-R Diagram**.

<img src='./dvd_rental_er.png'>

Based on your understanding of the relationships between these tables, answer the following questions by writing SQL queries to get the required data rows from the database and display them as a **Pandas dataframe**.

***
#### **NOTE**:
For the following questions, in the CSIT labs you will be able to connect directly to the database using the below code within the notebook. From outside of the CSIT labs, you will need to perform SQL queries in your terminal by using [partch](https://cs.anu.edu.au/docs/student-computing-environment/linuxlabs/remoteaccess/#connectingtopartch3). Once you have the correct query, you may just fill in the boxes below.

**Partch Instructions**
1. Connect to partch as per the above hyperlink
2. In your terminal, enter `psql` to access the sql database
3. Enter `\c dvdrental` to ensure you are accessing the assignment database (or simply specify dvdrental when connecting to the database server -- `psql dvdrental`).
4. (Sanity Check) Enter `SELECT * FROM actor;` . If you receive the first row to be "Penelope Guiness", you should be good to go !
***

In [11]:
# Connect using psycopg2
conn = psycopg2.connect(host="/var/run/postgresql", database="dvdrental")

# Activate connection cursor
curr = conn.cursor()

In [12]:
def execute_sql(query):
    # Select table and display
    curr.execute(query)

    # Fetches all the rows from the result of the query
    rows = curr.fetchall()
    
    # Gets the column names for the table
    colnames = [desc[0] for desc in curr.description]

    # Converts into readable pandas dataframe
    df_result = pd.DataFrame(rows, columns=colnames)
    return df_result

### 1. Write an SQL query to determine the total sales from the rentals of the film 'Affair Prejudice' from the rental store with `store_id = 2`. Your query should result in a single column called `Total Rental Cost` with the value of the total cost of all these rentals.
<span style= 'float: right;'><b>[3 marks]</b></span>

In [13]:
# YOUR QUERY HERE
query = str("SELECT SUM(p.amount) AS TOTAL_RENTAL_COST"
            +" FROM payment AS p,rental AS r,inventory AS i,film AS f"
            +" WHERE p.rental_id=r.rental_id"
            +" AND r.inventory_id=i.inventory_id"
            +" AND i.film_id=f.film_id"
            +" AND f.title LIKE 'Affair Prejudice'"
            +" AND i.store_id=2;")

execute_sql(query)

  total_rental_cost
0             33.91

### 2. Write an SQL query to retrieve the names of all customers who rented the film ‘Affair Prejudice’ from the store with `store_id = 1`. The result of your query should display each customer's first name and last name. 
<span style= 'float: right;'><b>[3 marks]</b></span>

In [14]:
# YOUR QUERY HERE
query = str("SELECT c.first_name,c.last_name"
    +" FROM customer AS c,rental AS r,inventory AS i,film AS f"
    +" WHERE c.customer_id=r.customer_id"
    +" AND r.inventory_id=i.inventory_id"
    +" AND i.film_id=f.film_id"
    +" AND f.title LIKE '%Affair Prejudice%'"
    +" AND c.store_id=1;")

execute_sql(query)

   first_name  last_name
0      Vivian       Ruiz
1        Nina       Soto
2      Jordan  Archuleta
3     Michael  Silverman
4     Eleanor       Hunt
5     Natalie      Meyer
6       Tommy    Collazo
7      Carmen      Owens
8      Deanna       Byrd
9       Jimmy   Schrader
10      Ruben      Geary
11     Carmen      Owens
12    Wallace      Slone
13     Jerome     Kenyon

### 3. Write an SQL query to retrieve the names of all those customers who have a total of more than 100 dollars in recorded payments. Your query's result should include each customer's first name, last name and customer ID. 
<span style= 'float: right;'><b>[4 marks]</b></span>

In [15]:
# YOUR QUERY HERE
query = str("SELECT c.first_name,c.last_name,c.customer_id" 
            +" FROM customer AS c, payment AS p"
            +" WHERE c.customer_id=P.customer_id"
            +" GROUP BY c.customer_id HAVING SUM(p.amount)>100;")

execute_sql(query)

      first_name     last_name  customer_id
0          Wanda     Patterson           87
1            Dan         Paine          477
2      Priscilla          Lowe          273
3            Guy      Brownlee          550
4          Alice       Stewart           51
5        Yolanda        Weaver          190
6           Kyle      Spurlock          424
7         Nathan        Runyon          406
8           June       Carroll          176
9         Morris      Mccarter          576
10   Christopher         Greco          309
11         Misty       Lambert          292
12          Erik       Guillen          529
13        Audrey           Ray          173
14         Shawn        Heaton          390
15         Brett      Cornwell          502
16       Carolyn         Perez           42
17        Marsha       Douglas          257
18         Ethel          Webb          125
19         Cindy        Fisher          113
20        Amanda        Carter           40
21        Sergio     Stanfield          587
22        Sylvia         Ortiz          120
23      Brittany         Riley          187
24           Joe     Gilliland          349
25          Erin          Dunn          160
26        Leslie        Seward          506
27        Milton       Howland          508
28        Glenda       Frazier          242
29          Eric        Robert          331
..           ...           ...          ...
266        Janet      Phillips           45
267        Daisy         Bates          295
268         Gina    Williamson          213
269        Naomi      Jennings          274
270        Cathy       Spencer          163
271       Bessie      Morrison          221
272     Nicholas      Barfield          362
273      Crystal          Ford          102
274     Veronica         Stone          158
275      Eduardo         Hiatt          594
276       Jessie         Milam          533
277         Marc        Outlaw          499
278       Jennie         Terry          265
279        Tommy       Collazo          459
280       Sandra        Martin           16
281     Gertrude      Castillo          207
282        Billy        Poulin          371
283      Darlene          Rose          157
284        Robin         Hayes          100
285       Rhonda       Kennedy          137
286          Lee         Hawks          421
287      Deborah        Walker           25
288       Debbie         Reyes          141
289       Thelma        Murray          122
290        Joyce       Edwards           49
291        Eddie        Tomlin          434
292       Stacey    Montgomery          211
293     Fernando     Churchill          536
294     Mitchell  Westmoreland          520
295      Eleanor          Hunt          148

[296 rows x 3 columns]

### 4. Write an SQL query to retrieve the names of all customers who have rented the movie ‘Angels Life’ from *both* stores with `store_id = 1` and `store_id = 2`. Your query's result should include each customer's first name, last name and customer ID.
<span style= 'float: right;'><b>[5 marks]</b></span>

In [16]:
# YOUR QUERY HERE

query = str("SELECT c.customer_id,c.first_name,c.last_name"
    +" FROM customer AS c,rental AS r,inventory AS i,film AS f"
    +" WHERE c.customer_id=r.customer_id"
    +" AND c.store_id IN ('1','2')"
    +" AND r.inventory_id=i.inventory_id"
    +" AND i.film_id=f.film_id"
    +" AND f.title='Angels Life';")
        
execute_sql(query)

    customer_id first_name  last_name
0           265     Jennie      Terry
1           497    Gilbert     Sledge
2           158   Veronica      Stone
3           377     Howard    Fortner
4           163      Cathy    Spencer
5           141     Debbie      Reyes
6           558     Jimmie  Eggleston
7           327      Larry   Thrasher
8           147     Joanne  Robertson
9           225     Arlene     Harvey
10          393     Philip     Causey
11          425    Francis      Sikes
12          336     Joshua       Mark
13          350       Juan     Fraley
14           96      Diana  Alexander
15          273  Priscilla       Lowe
16          163      Cathy    Spencer
17          498       Gene    Sanborn
18          360      Ralph   Madrigal
19          292      Misty    Lambert
20          578    Willard    Lumpkin
21           53    Heather     Morris

## Section B - Data Acquisition (20 Marks)

In this section, you need to read and import the data from the database into Python and make it ready to be used by your machine learning algorithms in the next section. **Your task here is to load the required columns from the various appropriate tables in the database to fuel the data required to train your machine learning models in the next section.** You can load the required data into one or more Pandas dataframes, to suit the the needs of different Machine Learning models in Section C. 

If you fail to do so, or an error in the previous section is preventing you from doing so, we can provide you with a **CSV of the required data**. If you choose to use this CSV, you will not receive any marks for this section, but you'll be able to do the following section without having to spend time on this section.  

<span style='color:red;'><b>Note:</b> While you are provided the .csv files to use for development of the later questions at home, you must submit a copy of the code that can read the database to receive marks for this section.</span>
<span style= 'float: right;'><b>[20 marks]</b></span>

In [31]:
# YOUR CODE HERE


query=str("SELECT * FROM customer c"
          +" JOIN payment p"
          +" ON c.customer_id=p.customer_id;"
          +" JOIN rental r"
          +" ON r.customer_id=c.customer_id;"
)

data1 = execute_sql(query)


# +" JOIN rental r"
# +" ON c.customer_id=r.customer_id"
# +" JOIN store s" 
# +" ON c.store_id=s.store_id"
# +" JOIN payment p"
# + " ON p.customer_id=c.customer_id"
# +" JOIN address a"
# +" ON c.address_id=a.address_id"
# +" JOIN city"
# +" ON city.city_id=a.city_id"
# +" JOIN country"
# +" ON country.country_id=city.country_id"
# +" JOIN inventory i"
# +" ON i.inventory_id=r.inventory_id"
# +" JOIN staff"
# + " ON staff.store_id=s.store_id"
# +" JOIN film"
# +" ON i.film_id=film.film_id"
# # +" JOIN language l"
# # +" ON l.language_id=film.language_id"
# +" JOIN film_actor fa"
# +" ON fa.film_id=film.film_id"
# +" JOIN actor"
# +" ON actor.actor_id=fa.actor_id"
# +" JOIN film_category fc"
# +" ON fc.film_id=film.film_id"
# +" JOIN category"
# +" ON category.category_id=fc.category_id;"

***

In [32]:
data1

,customer_id,store_id,first_name,last_name,email,address_id,activebool,create_date,last_update,active,payment_id,customer_id,staff_id,rental_id,amount,payment_date
0,341,1,Peter,Menard,peter.menard@sakilacustomer.org,346,True,2006-02-14,2013-05-26 14:49:45.738,1,17503,341,2,1520,7.99,2007-02-15 22:25:46.996577
1,341,1,Peter,Menard,peter.menard@sakilacustomer.org,346,True,2006-02-14,2013-05-26 14:49:45.738,1,17504,341,1,1778,1.99,2007-02-16 17:23:14.996577
2,341,1,Peter,Menard,peter.menard@sakilacustomer.org,346,True,2006-02-14,2013-05-26 14:49:45.738,1,17505,341,1,1849,7.99,2007-02-16 22:41:45.996577
3,341,1,Peter,Menard,peter.menard@sakilacustomer.org,346,True,2006-02-14,2013-05-26 14:49:45.738,1,17506,341,2,2829,2.99,2007-02-19 19:39:56.996577
4,341,1,Peter,Menard,peter.menard@sakilacustomer.org,346,True,2006-02-14,2013-05-26 14:49:45.738,1,17507,341,2,3130,7.99,2007-02-20 17:31:48.996577
5,341,1,Peter,Menard,peter.menard@sakilacustomer.org,346,True,2006-02-14,2013-05-26 14:49:45.738,1,17508,341,1,3382,5.99,2007-02-21 12:33:49.996577
6,342,1,Harold,Martino,harold.martino@sakilacustomer.org,347,True,2006-02-14,2013-05-26 14:49:45.738,1,17509,342,2,2190,5.99,2007-02-17 23:58:17.996577
7,342,1,Harold,Martino,harold.martino@sakilacustomer.org,347,True,2006-02-14,2013-05-26 14:49:45.738,1,17510,342,1,2914,5.99,2007-02-20 02:11:44.996577
8,342,1,Harold,Martino,harold.martino@sakilacustomer.org,347,True,2006-02-14,2013-05-26 14:49:45.738,1,17511,342,1,3081,2.99,2007-02-20 13:57:39.996577
9,343,1,Douglas,Graf,douglas.graf@sakilacustomer.org,348,True,2006-02-14,2013-05-26 14:49:45.738,1,17512,343,2,1547,4.99,2007-02-16 00:10:50.996577
10,343,1,Douglas,Graf,douglas.graf@sakilacustomer.org,348,True,2006-02-14,2013-05-26 14:49:45.738,1,17513,343,1,1564,6.99,2007-02-16 01:15:33.996577
11,343,1,Douglas,Graf,douglas.graf@sakilacustomer.org,348,True,2006-02-14,2013-05-26 14:49:45.738,1,17514,343,2,1879,0.99,2007-02-17 01:26:00.996577
12,343,1,Douglas,Graf,douglas.graf@sakilacustomer.org,348,True,2006-02-14,2013-05-26 14:49:45.738,1,17515,343,2,1922,0.99,2007-02-17 04:32:51.996577
13,343,1,Douglas,Graf,douglas.graf@sakilacustomer.org,348,True,2006-02-14,2013-05-26 14:49:45.738,1,17516,343,2,2461,6.99,2007-02-18 18:26:38.996577
14,343,1,Douglas,Graf,douglas.graf@sakilacustomer.org,348,True,2006-02-14,2013-05-26 14:49:45.738,1,17517,343,1,2980,8.99,2007-02-20 07:03:29.996577
15,343,1,Douglas,Graf,douglas.graf@sakilacustomer.org,348,True,2006-02-14,2013-05-26 14:49:45.738,1,17518,343,1,3407,0.99,2007-02-21 14:42:28.996577
16,344,1,Henry,Billingsley,henry.billingsley@sakilacustomer.org,349,True,2006-02-14,2013-05-26 14:49:45.738,1,17519,344,1,1341,3.99,2007-02-15 10:54:44.996577
17,344,1,Henry,Billingsley,henry.billingsley@sakilacustomer.org,349,True,2006-02-14,2013-05-26 14:49:45.738,1,17520,344,2,1475,4.99,2007-02-15 19:36:27.996577
18,344,1,Henry,Billingsley,henry.billingsley@sakilacustomer.org,349,True,2006-02-14,2013-05-26 14:49:45.738,1,17521,344,1,1731,0.99,2007-02-16 14:00:38.996577
19,345,1,Carl,Artis,carl.artis@sakilacustomer.org,350,True,2006-02-14,2013-05-26 14:49:45.738,1,17522,345,2,1210,0.99,2007-02-15 01:26:17.996577
20,345,1,Carl,Artis,carl.artis@sakilacustomer.org,350,True,2006-02-14,2013-05-26 14:49:45.738,1,17523,345,1,1457,4.99,2007-02-15 18:34:15.996577
21,345,1,Carl,Artis,carl.artis@sakilacustomer.org,350,True,2006-02-14,2013-05-26 14:49:45.738,1,17524,345,2,1550,0.99,2007-02-16 00:27:01.996577
22,345,1,Carl,Artis,carl.artis@sakilacustomer.org,350,True,2006-02-14,2013-05-26 14:49:45.738,1,17525,345,2,2766,4.99,2007-02-19 16:13:41.996577
23,346,1,Arthur,Simpkins,arthur.simpkins@sakilacustomer.org,351,True,2006-02-14,2013-05-26 14:49:45.738,1,17526,346,1,1994,5.99,2007-02-17 09:35:32.996577
24,346,1,Arthur,Simpkins,arthur.simpkins@sakilacustomer.org,351,True,2006-02-14,2013-05-26 14:49:45.738,1,17527,346,2,3372,2.99,2007-02-21 12:02:45.996577
25,346,1,Arthur,Simpkins,arthur.simpkins@sakilacustomer.org,351,True,2006-02-14,2013-05-26 14:49:45.738,1,17528,346,1,3421,2.99,2007-02-21 15:51:24.996577
26,347,2,Ryan,Salisbury,ryan.salisbury@sakilacustomer.org,352,True,2006-02-14,2013-05-26 14:49:45.738,1,17529,347,2,1711,8.99,2007-02-16 12:40:18.996577
27,347,2,Ryan,Salisbury,ryan.salisbury@sakilacustomer.org,352,True,2006-02-14,2013-05-26 14:49:45.738,1,17530,347,2,2274,0.99,2007-02-18 04:59:41.996577
28,347,2,Ryan,Salisbury,ryan.salisbury@sakilacustomer.org,352,True,2006-02-14,2013-05-26 14:49:45.738,1,17531,347,1,3026,4.99,2007-02-20 10:16:26.996577
29,347,2,Ryan,Salisbury,ryan.salisbury@sakilacustomer.org,352,True,2006-02-14,2013-05-26 14:49:45.738,1,17532,347,1,3092,8.99,2007-02-20 14:33:08.996577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14566,181,2,Ana,Bradley,ana.bradley@sakilacustomer.org,185,True,2006-02-14,2013-05-26 14:49:45.738,1,32069,181,2,13008,2.99,2007-05-14 13:44:29.996577
14567,186,2,Holly,Fox,holly.fox@sakilacustomer.org,190,True,2006-02-14,2013-05-26 14:49:45.738,1,32070,186,1,14216,2.99,2007-05-14 13:44:29.996577
14568,188,1,Melanie,Armstrong,melanie.armstrong@sakilacustomer.org,192,True,2006-02-14,2013-05-26 14:49:45.738,1,32071,188,1,14503,2.99,2007-05-14 13:44:29.996577
14569,190,2,Yolanda,Weaver,yolanda.weaver@sakilacustomer.org,194,True,2006-02-14,2013-05-26 14:49:45.738,1,32072,190,2,15167,4.99,2007-05-14 13:44:29.996577
14570,191,1,Jeanette,Greene,jeanette.greene@sakilacustomer.org,195,True,2006-02-14,2013-05-26 14:49:45.738,1,32073,191,1,14361,0.99,2007-05-14 13:44:29.996577
14571,192,1,Laurie,Lawrence,laurie.lawrence@sakilacustomer.org,196,True,2006-02-14,2013-05-26 14:49:45.738,1,32074,192,1,11611,4.99,2007-05-14 13:44:29.996577
14572,193,2,Katie,Elliott,katie.elliott@sakilacustomer.org,197,True,2006-02-14,2013-05-26 14:49:45.738,1,32075,193,2,15729,2.99,2007-05-14 13:44:29.996577
14573,199,2,Beth,Franklin,beth.franklin@sakilacustomer.org,203,True,2006-02-14,2013-05-26 14:49:45.738,1,32076,199,2,13952,2.99,2007-05-14 13:44:29.996577
14574,200,2,Jeanne,Lawson,jeanne.lawson@sakilacustomer.org,204,True,2006-02-14,2013-05-26 14:49:45.738,1,32077,200,2,11866,2.99,2007-05-14 13:44:29.996577
14575,208,1,Lucy,Wheeler,lucy.wheeler@sakilacustomer.org,212,True,2006-02-14,2013-05-26 14:49:45.738,1,32078,208,1,13719,5.98,2007-05-14 13:44:29.996577
14576,208,1,Lucy,Wheeler,lucy.wheeler@sakilacustomer.org,212,True,2006-02-14,2013-05-26 14:49:45.738,1,32079,208,1,15717,0.00,2007-05-14 13:44:29.996577
14577,211,1,Stacey,Montgomery,stacey.montgomery@sakilacustomer.org,215,True,2006-02-14,2013-05-26 14:49:45.738,1,32080,211,2,12746,4.99,2007-05-14 13:44:29.996577
14578,213,1,Gina,Williamson,gina.williamson@sakilacustomer.org,217,True,2006-02-14,2013-05-26 14:49:45.738,1,32081,213,2,14374,2.99,2007-05-14 13:44:29.996577
14579,214,1,Kristin,Johnston,kristin.johnston@sakilacustomer.org,218,True,2006-02-14,2013-05-26 14:49:45.738,1,32082,214,2,15645,2.99,2007-05-14 13:44:29.996577
14580,215,2,Jessie,Banks,jessie.banks@sakilacustomer.org,219,True,2006-02-14,2013-05-26 14:49:45.738,1,32083,215,2,15862,0.99,2007-05-14 13:44:29.996577
14581,216,1,Natalie,Meyer,natalie.meyer@sakilacustomer.org,220,True,2006-02-14,2013-05-26 14:49:45.738,1,32084,216,1,12970,5.98,2007-05-14 13:44:29.996577
14582,216,1,Natalie,Meyer,natalie.meyer@sakilacustomer.org,220,True,2006-02-14,2013-05-26 14:49:45.738,1,32085,216,1,11676,0.00,2007-05-14 13:44:29.996577
14583,219,2,Willie,Howell,willie.howell@sakilacustomer.org,223,True,2006-02-14,2013-05-26 14:49:45.738,1,32086,219,1,11577,4.99,2007-05-14 13:44:29.996577
14584,227,1,Colleen,Burton,colleen.burton@sakilacustomer.org,231,True,2006-02-14,2013-05-26 14:49:45.738,1,32087,227,2,13374,4.99,2007-05-14 13:44:29.996577
14585,228,2,Allison,Stanley,allison.stanley@sakilacustomer.org,232,True,2006-02-14,2013-05-26 14:49:45.738,1,32088,228,2,12672,3.98,2007-05-14 13:44:29.996577
14586,228,2,Allison,Stanley,allison.stanley@sakilacustomer.org,232,True,2006-02-14,2013-05-26 14:49:45.738,1,32089,228,1,15234,0.00,2007-05-14 13:44:29.996577
14587,229,1,Tamara,Nguyen,tamara.nguyen@sakilacustomer.org,233,True,2006-02-14,2013-05-26 14:49:45.738,1,32090,229,2,13295,0.99,2007-05-14 13:44:29.996577
14588,234,1,Claudia,Fuller,claudia.fuller@sakilacustomer.org,238,True,2006-02-14,2013-05-26 14:49:45.738,1,32091,234,1,15778,0.99,2007-05-14 13:44:29.996577
14589,236,1,Marcia,Dean,marcia.dean@sakilacustomer.org,240,True,2006-02-14,2013-05-26 14:49:45.738,1,32092,236,1,12988,0.99,2007-05-14 13:44:29.996577
14590,244,2,Viola,Hanson,viola.hanson@sakilacustomer.org,248,True,2006-02-14,2013-05-26 14:49:45.738,1,32093,244,2,12736,4.99,2007-05-14 13:44:29.996577
14591,245,1,Courtney,Day,courtney.day@sakilacustomer.org,249,True,2006-02-14,2013-05-26 14:49:45.738,1,32094,245,2,12682,2.99,2007-05-14 13:44:29.996577
14592,251,2,Vickie,Brewer,vickie.brewer@sakilacustomer.org,255,True,2006-02-14,2013-05-26 14:49:45.738,1,32095,251,1,14107,0.99,2007-05-14 13:44:29.996577
14593,252,2,Mattie,Hoffman,mattie.hoffman@sakilacustomer.org,256,True,2006-02-14,2013-05-26 14:49:45.738,1,32096,252,2,13756,4.99,2007-05-14 13:44:29.996577
14594,263,1,Hilda,Hopkins,hilda.hopkins@sakilacustomer.org,268,True,2006-02-14,2013-05-26 14:49:45.738,1,32097,263,1,15293,0.99,2007-05-14 13:44:29.996577
14595,264,1,Gwendolyn,May,gwendolyn.may@sakilacustomer.org,269,True,2006-02-14,2013-05-26 14:49:45.738,1,32098,264,2,14243,2.99,2007-05-14 13:44:29.996577

In [ ]:
data1.iloc[250:255]

## Section C - Machine Learning (55 Marks)
<span style='color:purple;'><b>Note:</b> We have provided the .csv outputs for the files to use in these questions if you are working on the assignment at home. Please note if any of these questions refer to those csvs and not the data from Section B in your submitted assignment, you will receive no marks for Section B.</span>

In [33]:
## Import csv files for home development here as necessary. 
df_actor=pd.read_csv("data/dvd_rental/actor.csv")
df_address=pd.read_csv("data/dvd_rental/address.csv")
df_category=pd.read_csv("data/dvd_rental/category.csv")
df_city=pd.read_csv("data/dvd_rental/city.csv")
df_country=pd.read_csv("data/dvd_rental/country.csv")
df_film=pd.read_csv("data/dvd_rental/film.csv")
df_film_actor=pd.read_csv("data/dvd_rental/film_actor.csv")
df_film_category=pd.read_csv("data/dvd_rental/film_category.csv")
df_inventory=pd.read_csv("data/dvd_rental/inventory.csv")
df_language=pd.read_csv("data/dvd_rental/language.csv")
df_payment=pd.read_csv("data/dvd_rental/payment.csv")
df_rental=pd.read_csv("data/dvd_rental/rental.csv")
df_staff=pd.read_csv("data/dvd_rental/staff.csv")
df_store=pd.read_csv("data/dvd_rental/store.csv")

In [54]:
def feature_combinations(dataframe,dependent_variable):
    '''Helper function for producing all possible combinations of independent variables 
       based on the given dataframe & the dependent_variable
       @param:dataframe - The primary DataFrame in which your data resides.
       @return:output - A list of list which has all possible combinations.'''
    output=[]
    independent_variables=[]
    for var in dataframe.columns:
            if var != dependent_variable:
                independent_variables.append(var)
    for i in range(len(independent_variables)):
           for combination in list(combinations(independent_variables,i+1)):
                output.append(combination)
    return output

### Part 1 - Clustering (25 Marks)

### Part 1.1 - Clustering Short Answers (8 Marks)

#### 1. Can a Decision Tree be used to perform clustering? If so, explain how. If not, provide a counterexample showing how it is not suitable for the function.
<span style= 'float: right;'><b>[4 marks]</b></span>

#### <span style="color:blue"> Your answer here: </span>
- For a given dataset,decision trees can be used to perform only classification,not clustering [(Both are similar,but different)](https://techdifferences.com/difference-between-classification-and-clustering.html) .Decision Trees are a form of Supervised learning and they classify instances based on a known/predefined labels.Decision Trees will use Heuristics(attribute selection measures) such as Information Gain,Gain Ratio or Gini index to decide the decision nodes of the tree.
- Counter - Example:

#### 2. Will a K-means Clustering Algorithm generate the same results each time? Provide examples on how this may or may not be the case.
<span style= 'float: right;'><b>[4 marks]</b></span>

#### <span style="color:blue"> Your answer here: </span>

(Assumed that the centroids are randomly assigned and the number of the centroids are the same each time)

The results are usually different. But, it depends on the data and the centroids number. For example, if the data has obvious clusters, and the number of centroids are equal to its clusters. K-means Clustering Algorithm will generate the same result each time no matter where the initial centroids are. For other kinds of data, the result usually depends on the initial position of the centroids.

### Part 1.2 - K-Means Clustering Implementation (17 Marks)

Clustering helps visualise a dataset based on attributes considered important to the data scientist and/or reader.  From the dataset acquired after completing **Section - B**, implement a `K-Means clustering algorithm` to help you cluster the dataset of customers on the basis of the movies they have rented from the DVD rental stores. Various attributes related to the movies such `rating`, `year`, `rental_rate` and `year` may be useful for this exercise. Another interesting attribute that you can look at is the `fulltext` of the movie. In terms of the customer details, you can look at which movies a customer has rented, and the total number of movies rented by a customer. After you've prepared your learning model, plot a **visualization** showing the different clusters. If you have used more than 2 features for your clustering, you are still expected to provide a visualization by reducing the dimensions into a 2D graph.

It's upto you to decide how many clusters you would like to incorporate in your model. You are expected to justify all aspects of your implementation including the reasoning behind the choice of **the number of clusters** and **number of iterations** in your model. 

<span style='color:red;'><b>Note:</b> You are only allowed to use packages that are within the Anaconda distribution.</span>
<span style= 'float: right;'><b>[15 marks total: 10 marks model, 5 marks justification & commentary]</b></span>

In [ ]:
# YOUR CODE HERE

#### <span style="color:blue"> Your justifications & commentary here: </span>

**

#### What do your resulting clusters represent?  Explain the distinguishing characteristics of each cluster. 
<span style= 'float: right;'><b>[2 marks]</b></span>

#### <span style="color:blue"> Your answer here: </span>

**

***

### Part 2 - Classification (30 Marks)

The rental company has decided that they want to use simple machine learning to allocate price tags to their movies. The tags are as follows:


|  **Classification**      |  **Requirements**        |
|--------------------------|------------------------- |
|  Cheap                   |  Rental Rate is 0.99   |
|  Moderate                |  Rental Rate is 2.99   |
|  Expensive               |  Rental Rate is 4.99  |


**Your task is to implement a `Classification Algorithm` (such as K-Nearest Neighbours) that can predict the `Price Label` of a movie**. You are required to perform the following tasks:

1. Create useable dataset/s by manually determining the 'truth values' for existing data (where the rating is within the classification system defined above)
2. Implement an algorithm that can predict the classification as per the above classifications.
3. Perform independent testing of the model and provide statistical metrics outlining the performance of your model. Splitting the dataset into testing and training subsets will assist with this.

You are welcome to use any features within the dataset, except the `Rental Rate` of the film. Various attributes relating to a movie in the tables `rating`, `movie`, `film_actor`, `actor` and `film_category` can be helpful while making the algorithm. If required, you can also look to make new **compound attributes** that may be helpful in increasing the accuracy of your model.
You are expected to justify all aspects of your answer including the features used, the metrics provided and validation system employed. Provide commentary on the strengths and potential pitfalls of the model.

<span style='color:red;'><b>Note:</b> You are only allowed to use packages that are within the Anaconda distribution. This means packages such as Keras, Tensorflow etc are not available for use.</span> 
<span style= 'float: right;'><b>[25 marks total: 18 marks model, 7 marks justification & commentary]</b></span>

In [ ]:
# YOUR CODE HERE

#### <span style="color:blue"> Your justifications & commentary here: </span>

**

#### Would you be able to get a better result, if you had used Clustering as a pre-processing step before Classfication? Justify your answer. 
<span style= 'float: right;'><b>[5 marks]</b></span>

#### <span style="color:blue"> Your answer here: </span>

**

***

## Section D - Decision Trees (10 Marks)

The following is a small synthetic data set about the weather conditions.  We are
going to try and use decision trees to predict whether it will rain or not on the given day.


|Temperature| Cloudy| UV Index| Humidity| Rain
|---:|--:|--:|--:|--:|
|25|No| Low| Low| No 
|29|No| Low| High| No
|26|No| Low| Medium| No
|26|No| Medium| Medium| No
|27|No| Medium| High| No
|28|No| High | High| No
|25|No| High |Low| No
|29|Yes| Low |Low| Yes
|28|No| Medium| High| Yes
|28|Yes| Medium| High| Yes
|26|No| Low |Low| Yes
|27|Yes| Low |High| Yes

**Note:**
* You can treat temperature as a continuous variable and split it on a range of values (to convert it to a categorical variable, for example).
* Attribute selection in the tree uses information gain.
* You can use LaTeX and/or markdown to format your equations.

#### 1. What is the initial entropy of Cloudy?

<span style= 'float: right;'><b>[3 marks]</b></span>

<span style="color:blue">
    
#### YOUR ANSWER HERE


</span>

#### 2. Which attribute would the decision-tree building algorithm choose at the root of the tree?

<span style= 'float: right;'><b>[3 marks]</b></span>

<span style="color:blue">
    
#### YOUR ANSWER HERE


</span>

#### 3. Calculate and specify the information gain of the attribute you chose to split on in the previous question

<span style= 'float: right;'><b>[4 marks]</b></span>

<span style="color:blue">
    
#### YOUR ANSWER HERE


</span>